html,
body {
  margin: 0;
}
.row {
  max-width: 1450px;
  margin: 0 100px;
  /* background-color: black; */
}
/* p {
  font-size: 30px;
} */
.row::after,
.round-number::after {
  content: "";
  display: table;
  clear: both;
}
p {
  font-size: 25px;
  margin: 30px 0;
}
[class^="col-"]:not(:last-child) {
  margin-right: 40px;
}
[class^="col-"] {
  /* // background-color: orangered; */
  float: left;
}
.col-1-of-2 {
  width: calc((100% - 40px) / 2);
}
.col-1-of-4 {
  width: calc((100% - 120px) / 4);
}
.col-1-of-3 {
  width: calc((100% - 80px) / 3);
}
.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 18px 0;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}
.btn-yellow {
  background-color: #ffdc00;
  color: black;
}
.btn-black {
  background-color: black;
  color: #fff;
}

/* Navbar */

nav {
  background-color: rgb(39, 39, 39);
  margin: 0;
  padding: 0 288px;
  /* width: 100%; */
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  list-style: none;
  float: left;
}
#navLogo {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-right: 230px;
}
ul.topnav li a img {
  width: 100%;
}

ul.topnav li a {
  display: block;
  font-size: 18px;
  padding: 30px 15px;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

ul.topnav li a:hover {
  cursor: pointer;
  color: #ffdd02;
}

.navDropdown {
  border-left: 1px solid rgb(131, 131, 131);
  border-right: 1px solid rgb(131, 131, 131);
  color: brown;
}
/* .navBtn {
  bor
} */

/* Section One */
.section1 {
  height: 610px;
  background-color: #ffdd02;
  position: relative;
}
.primary-heading {
  font-size: 80px;
  font-weight: lighter;
  padding-top: 122px;
  margin: 0;
}
.header {
  width: 50%;
  margin: 0 300px;
}
.header-btn {
  width: 32% !important;
}
.homeImg {
  width: 63.5%;
  position: absolute;
  right: 50px;
  bottom: 0;
}
/* Middle bar */
.mid-bar {
  height: 64px;
  background-color: #e94368;
  color: #fff;
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
  padding-top: 12px;
}

/* Section 2 */
.section2 {
  background-color: white;
  height: 400px;
  margin: 2px 0;
  padding: 85px 0 190px 0;
}
.inner-row {
  margin: 10px 227px;
  width: 100%;
  max-width: 1539px;
}
.s2icons {
  height: 75px;
  margin: 0 114.5px;
}
.seperate {
  height: 74px;
  /* margin-top: ; */
}
.secondary-heading {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.col-1-of-4 p {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: center;
}
/* .section2 a .btn {
  width: 100%;
} */

/* Section 3 */
.section3 {
  background-color: #ffd529;
  height: 567px;
  padding: 80px;
}
.left-side {
  margin-left: 40px;
}
.section-heading {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin: inherit;
  padding: 30px 0;
}

.laptop_img {
  width: 105%;
  padding-top: 130px;
}

.round-number {
  height: 2.5rem;
  width: 3rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 26px;
  text-align: center;
  /* display: flex; */
  vertical-align: middle;
  padding-top: 11px;
  margin-right: 20px;
}
.s3-flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
.s3-flex > span {
  padding-top: 10px;
  font-size: 25px;
}
.special_list {
  list-style: none;

  font-size: 30px;
  margin: 0 160px;
}
.special_list > span {
  display: flex;
  flex-direction: row;
}

/* Map section */
.mapSection {
  height: 760px;
  padding: 56px 0;
  /* margin-bottom: 60px; */
}
.mapRow {
  margin: 0 380px;
  padding-bottom: 120px;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.col-1-of-3 p {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: center;
}
.map-heading {
  font-size: 43px;
  font-weight: 100;
  margin-bottom: 15px;
}
.send {
  margin-top: 90px;
  text-align: center;
}
.send-btn {
  /* text-align: center; */
  width: 16% !important;
  margin-top: 10px !important;
}

/* FAQ's */
.faqs {
  text-align: center;
  background-color: #e6e6e6;
  padding: 60px 0 110px 0;
}
.faqs p a {
  text-decoration: none;
  color: #337ab7;
}
.faqs p a:hover {
  color: #23527c;
  text-decoration: underline;
}
section.faqs a.btn {
  width: 16%;
  color: black;
  margin-top: 30px;
}

/* Footer Bar */

.footer-story {
  font-size: 18px;
  margin: 165px 505px;
}
.fillUp {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.col-1-of-5 {
  padding-right: 60px;
}
.col-1-of-5:last-child {
  padding-right: 0;
}
.footer-links {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
.footer-links > li {
  margin-bottom: 15px;
  font-size: 14px;
}
.footer-links a {
  text-decoration: none;
  color: rgb(109, 108, 108);
}
.footerbar {
  background-color: rgb(104, 103, 103);
  display: flex;
  flex-direction: row;
  justify-items:stretch;
    color: #fff;
  padding: 0 390px;

  height: 95px;
}
.footerbar > p {
  width: 36%;
  font-size: 18px;
  padding-right: 80px;
}
.footer-span {
  font-size: 15px;
  padding: 43px 6px;
}
.footer-span  > span {
  padding: 0 40px;
  text-decoration: none;
  color: white;
}
.footer-span a {
  text-decoration: none;
  color: #fff;
}
.below-bar {
  margin: 30px 0;
}
.footer-navlist {
  /* display:inline-block; */
  list-style: none;
  padding: 0 390px;
}
.footer-navlist li {
  font-size: 14px;
  padding: 0 9px;
  float: left;
  border-right: 1px black solid;
  margin-bottom: 10px;

}
.footer-navlist li:last-child {
  border-right: none;
}
.footer-navlist a {
  text-decoration: none;
  color: rgb(124, 123, 123);
}
.last {
  display: flex;
  margin: 0 394px;
  justify-content: space-between;
  font-size: 25px;
}
.last p {
  font-size: 14px;
  
}
